<nav id="navbar">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <!-- :attribute => "value"-->
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "How to Join", join_path %></li>
    <li><%= link_to "What you Need", equip_path %></li>
    <li><%= link_to "Programme", programme_path %></li>
  </ul>
  <ul>
    <li><%= link_to "Newsletters", newsletters_path %></li>
    <li><%= link_to "Club Matters", club_path %></li>
    <li><%= link_to "Location", map_path %></li>
    <li><%= link_to "Book a lawn", booking_path %></li>
    <li><%= link_to "Links", links_path %></li>
  </ul>
</nav>