<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <%= favicon_link_tag 'CCBC_Logo_rose.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>
  <%= render "layouts/navbar" %>
  
  <article id="page_content" class="box">
    <%= yield %>
  </article>
  
  <%= render "layouts/footer" %>

</body>
</html>
